<%- include('includes/heads'); %>
<h1 class="centered">SBC monitoring</h1><br><br>
<button id="showHideAll" class="button">Show all</button>
<button id="showHideReds" class="button">Show reds</button>
<button id="showHideGreens" class="button">Show Greens</button>


<div>
  <canvas id="myChart"></canvas>
</div>
