body {
  background-color: AliceBlue;
  padding: 5px;
}

main {
  padding: 8px;
}

h1 {
  font-size: 30px;
}

div {
  width: 1200px;
  height: 720px;
}


.centered {
  max-width: 100%;
  text-align: center;
}
