body {
  background-color: AliceBlue;
  padding: 5px;
}

main {
  padding: 8px;
}

h1 {
  font-size: 20px;
}

div {
  width: 1000px;
  height: auto;
}

.info {
  font-size: 13px;
}

.centered {
  max-width: 100%;
  text-align: center;
}

.sideBar {
  text-align: center;
  padding: 5px;
  max-width: 525px;
  width: auto;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  position: absolute;
  background-color: #eee;
  opacity: 0.7;
  pointer-events: none;
}

.sideBarExit {
  top: 0;
  padding: 5px;
  float: left;
  width: auto;
  position: relative;
  border-width: thin;
  pointer-events: all;
  cursor: pointer;
}

.button {
  border-radius: 5px;
  font-size: 14px;
  float: left;
  margin: 5px;
  text-align: center;
}

.active {
  background-color: #aaa;
}

.refreshPage {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px;
}

.button:active {
  transform: translateY(2px);
}
